<script type="text/javascript">
  <%= "var repositoryName = '#{@repository.name}';" unless @repository.main? %>
  $(formHandler);
</script>

<h1>Package listing</h1>

<% if @repository.main? %>
  This is a listing of all packages available via the Homebrew package manager
  for MacOS X.
<% else %>
  This is a listing of all Homebrew packages available via the alternative
  repository
  <%= link_to @repository.name, "https://github.com/#{@repository.name}" %>.
<% end %>

<%= render partial: 'search' %>

<ul id="letters">
  <% ('A'..'Z').each do |letter|
    letter_url = @repository.main? ? letter_formulae_path(letter.downcase) : letter_repository_formulae_path(@repository.name, letter.downcase) %>
    <li>
      <% if @letters.include? letter %>
        <%= link_to_unless_current letter, letter_url do %>
          <span class="current"><%= letter %></span>
        <% end %>
      <% else %>
        <%= letter %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if @formulae.empty? %>
  <div class="error">Sorry, no formulae are matching your search.</div>
<% else
  page_params = { id: nil }
  if params.key?(:search) && !params[:search].empty?
    page_params[:use_route] = :search_formulae
  end
  pagination = paginate @formulae, params: page_params %>

  <%= pagination %>

  <div class="listing">
    <% @formulae.each do |formula| %>
      <%= render partial: 'formula', locals: { formula: formula } %>
    <% end %>
  </div>

  <%= pagination %>
<% end %>
