<script type="text/javascript">
  $(formHandler);
</script>

<h1>Package listing</h1>

This is a listing of all packages available via the Homebrew package manager
for MacOS X.
<form action="<%= formulae_path %>" id="search-form">
  <input id="search" name="search" type="text" value="<%= params[:search] || 'search&hellip;'.html_safe %>" />
</form>

<% if @formulae.empty? %>
  <div class="error">Sorry, no formulae are matching your search.</div>
<% else
  pagination = paginate @formulae,
    :params => { :controller => :formulae, :action => :index, :id => nil } %>
  <%= pagination %>

  <div class="listing">
    <% @formulae.each do |formula| %>
      <%= render :partial => 'formula', :locals => { :formula => formula } %>
    <% end %>
  </div>

  <%= pagination %>
<% end %>
