<script type="text/javascript">
  $(formHandler);
</script>

<h1>Package listing</h1>

This is a listing of all packages available via the Homebrew package manager
for MacOS X.

<%= render :partial => 'search' %>

<ul id="letters">
  <% ('A'..'Z').each do |letter| %>
     <li>
       <%= link_to_unless_current letter, letter_formulae_path(:letter => letter.downcase) do %>
         <span class="current"><%= letter %></span>
       <% end %>
     </li>
  <% end %>
</ul>

<% if @formulae.empty? %>
  <div class="error">Sorry, no formulae are matching your search.</div>
<% else
  page_params = { :controller => :formulae, :action => :index, :id => nil }
  if params.key?(:search) && !params[:search].empty?
    page_params[:use_route] = :search_formulae
  end
  pagination = paginate @formulae, :params => page_params %>

  <%= pagination %>

  <div class="listing">
    <% @formulae.each do |formula| %>
      <%= render :partial => 'formula', :locals => { :formula => formula } %>
    <% end %>
  </div>

  <%= pagination %>
<% end %>
