<h1><%= @formula.name %></h1>

<div id="basic">
  <% if @formula.removed? %>
    <h2 class="removed">Formula was removed<br>Last version was:
  <% else %>
    <h2>Current Version:
  <% end %>
  <em><%= @formula.version %></em></h2>
  <h2>Homepage: <em><%= link_to @formula.homepage, @formula.homepage %></em></h2>
  <% unless (@formula.aliases || []).empty? %>
    Also known as: <strong><%= @formula.aliases.join('</strong>, <strong>').html_safe %></strong><br>
  <% end %>
</div>

<div id="last-change">
  <h2>Last change</h2>
  <strong class="subject"><%= @current_revision.subject %></strong>
  <div id="change-info">
    by <strong><%= @current_revision.author.name %></strong>
    at <strong><%= l @current_revision.date, format: :long %></strong><br />
    Git commit SHA: <%= link_to @current_revision.sha, "https://github.com/#{@repository.name}/commit/#{@current_revision.sha}##{@formula.path}" %>
  </div>
</div>

<% unless @formula.deps.empty? %>
  <div id="deps">
    <h2>Dependencies</h2>
      <%= t '.deps_html', name: @formula.name, count: @formula.deps.size %>
    <ul>
      <% @formula.deps.each do |dep| %>
        <%= render partial: 'formula', locals: { formula: dep } %>
      <% end %>
    </ul>
  </div>
<% end %>

<% reset_cycle %>

<% unless @formula.revdeps.empty? %>
  <div id="revdeps">
    <h2>Reverse dependencies</h2>
    <%= t '.revdeps_html', name: @formula.name, count: @formula.revdeps.size %>
    <ul>
      <% @formula.revdeps.each do |revdep| %>
        <%= render partial: 'formula', locals: { formula: revdep } %>
      <% end %>
    </ul>
  </div>
<% end %>

<% unless @revisions.empty? %>
<div id="history">
  <h2>Past formula history</h2>
  <table>
  <% @revisions.each do |rev| %>
    <tr>
      <td class="author">
        <%= link_to '', "https://github.com/#{@repository.name}/commit/#{rev.sha}##{@formula.path}" %>
        <%= rev.author.name %></td>
      <td class="subject">
        <%= link_to '', "https://github.com/#{@repository.name}/commit/#{rev.sha}##{@formula.path}" %>
        <%= rev.subject %>
      </td>
      <td class="date">
        <%= link_to '', "https://github.com/#{@repository.name}/commit/#{rev.sha}##{@formula.path}" %>
        <%= l rev.date, format: :long %>
      </td>
    </tr>
  <% end %>
  </table>
</div>
<% end %>
